# Lab | Inferential statistics - T-test & P-value

In [1]:
import pandas as pd
from scipy import stats
import numpy as np
from scipy.stats import ttest_ind, ttest_rel

In [4]:
#1. One tailed t-test

# data for new and old machine
new_machine = [42.1, 41, 41.3, 41.8, 42.4, 42.8, 43.2, 42.3, 41.8, 42.7]

old_machine = [42.7, 43.6, 43.8, 43.3, 42.5, 43.5, 43.1, 41.7, 44, 44.1]

In [8]:
# calculate the t and p-value 

t, p = stats.ttest_ind(new_machine, old_machine, equal_var=False)

# out put the results

alpha = 0.05
print (f't = {t:.3f}')
print (f"p={p:.4f}")

if p < alpha and t < 0:
    print ("the new machine packs cartons significantly faster than the old machine.")
else:
    print("The new machine does not pack cartons significantly faster than the old machine")

t = -3.397
p=0.0032
the new machine packs cartons significantly faster than the old machine.

In [15]:
#2. Matched Pairs Test 
#load the dataset
pokemon = pd.read_csv('/Users/lenovo1/Downloads/Ironhack/lab-t-tests-p-values/pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [17]:
attack = pokemon ['Attack']
defensen = pokemon ['Defense']

In [18]:
result = ttest_rel(attack,defensen )
print('t-statistic:', result.statistic)
print('p-value:', result.pvalue)

t-statistic: 4.325566393330478
p-value: 1.7140303479358558e-05

# OPTIONAL PART | Inferential statistics - ANOVA

In [20]:
import pandas as pd
import scipy.stats as stats

# create a DataFrame with the provided data as I cannot loading the data set by pd.read_csv function
anova = pd.read_excel('/Users/lenovo1/Downloads/Ironhack/lab-t-tests-p-values/anova_lab_data.xlsx')
anova = anova.rename(columns={'Power ':'Power'})

anova['power_rate'] = anova.groupby('Power').cumcount()
anova_pivot = anova.pivot(index='power_rate', columns ='Power', values = "Etching Rate")

anova_pivot.columns = ['Power_'+str(x) for x in anova_pivot.columns.values]

stats.f_oneway(anova_pivot['Power_160 W'], anova_pivot['Power_180 W'], anova_pivot['Power_200 W'])

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)